<header>
    <img src="//cdn.jsdelivr.net/emojione/assets/png/1f63c.png" width="32" height="32" alt="">
    Gedyx Emoji Search
    <img src="//cdn.jsdelivr.net/emojione/assets/png/1f63c.png" width="32" height="32" alt="">
</header>

<div id="searchInput">
    <input type="text" oninput="app.getController('emojis').find(this.value)">
    <span class="random" onclick="app.getController('emojis').feelLucky()">
        Feel lucky
    </span>
</div>

<div id="list"></div>

<!-- GITHUB FORK -->
<span id="forkongithub"><a href="https://github.com/LborV/gedyx">Fork me on GitHub</a></span>